name: Build and Deploy Hugo site

on:
  push:
   branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest


steps:
  - name: Checkout
    uses: actions/checkout@v4
    with:
      submodules: recursive

  - name: Setup Hugo
    uses: peaceiris/actions-hugo@v3
    with:
      hugo-version: 'latest'


  - name: Build
    run: hugo --minify -v


  - name: Deploy to Hetzner VPS via rsync over SSH
    env:
      TARGET: ${{ secrets.DEPLOY_TARGET }} # z.B. user@1.2.3.4:/var/www/wak-lab.org
      SSH_PRIVATE_KEY: ${{ secrets.SSH_KEY }}
    run: |
      echo "$SSH_PRIVATE_KEY" > private_key
      chmod 600 private_key
      rsync -avz --delete -e "ssh -i private_key -o StrictHostKeyChecking=no" public/ "$TARGET"
      